:root {
    --bg: #0b0f19;
    --sidebar: #0f172a;
    --card: #111827;
    --primary: #4f46e5;
    --text: #e5e7eb;
    --muted: #9ca3af;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
}

/* LOGIN */
.login-screen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #111827, #000);
    z-index: 999;
}

.login-box {
    background: var(--card);
    padding: 30px;
    border-radius: 14px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-box input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1f2937;
    color: white;
}

.btn-primary {
    background: var(--primary);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    opacity: 0.9;
}

/* LAYOUT */
.app {
    display: flex;
    height: 100vh;
}

.hidden {
    display: none;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-weight: bold;
    margin-bottom: 20px;
}

.nav-link {
    display: block;
    padding: 12px;
    border-radius: 8px;
    color: var(--muted);
    cursor: pointer;
    margin-bottom: 8px;
    transition: 0.2s;
}

.nav-link:hover {
    background: #1f2937;
}

.nav-link.active {
    background: var(--primary);
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
}

.card span {
    color: var(--muted);
}

.card h2 {
    margin-top: 10px;
}

/* TABLE */
.table-wrapper {
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
}

table {
    width: 100%;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    color: var(--muted);
}

/* LOG */
#log-terminal {
    background: black;
    padding: 20px;
    border-radius: 12px;
    height: 300px;
    overflow-y: auto;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #000a;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: var(--card);
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
